<div class="container">
    <div class="row">
     Search : <input class="from-control" style="margin-bottom: 30px;" name="title" [(ngModel)]="title" >
     <button (click)="changeTest()">changeTest</button>
      <div *ngFor="let c of categoorie | filter:title" class="col-md-4" style="margin-bottom: 20px;" >
        <div class="col-md-4">
          <!-- <div *ngIf="title.toLowerCase() == c.title.toLowerCase() || title == ''" class="col-md-4" style="margin-bottom: 20px;"> -->
              <app-category [t]="test" [data]="c" (d)="DeleteCategory($event)"></app-category>
              </div>

      </div>
  </div>
  <div class="row">
    <app-test></app-test>
  </div>
</div>
